<div class="container">
  <div
    id="graph"
    style="width: 600px; height: 400px;"
  ></div>
    <div
    id="graph2"
    style="width: 600px; height: 400px;"
  ></div>
</div>
<button (click)="buttonClicked()">Ajouter une heure</button>
